.exercise, .vars, #next { display: none; }
p.question { font-weight: bold; }
var { font-style: normal; }
.hint_blue { color: #6495ED; }
.hint_orange { color: #FFA500; }
.hint_red { color: red; }
.hint_green { color: #28AE7B; }
.hint_gray { color: gray; }
.hint_purple{ color: purple; }
#workarea { margin-left: 30px; }
#hintsarea { margin-left: 50px; }
#answer_area ul { list-style: none; margin: 8px; padding: 0; }
#answer_area li { margin: 14px 0; }
#answer_area li span.value { padding-left: 5px; }
#problemarea { font-size: 14px; width: 63%; min-height: 378px; position: relative; float: left; padding-bottom: 38px; }

#solution { font-size: 14px; }
#solution label { display: block; white-space: nowrap; }

#tester-info { border: 1px solid #AAA; background: #F0F0F0; padding: 10px; margin: 10px 0; }
#debug var { font: 14px Menlo, Courier, monospace; word-wrap: break-word; }

code { font-family: Helvetica, Arial; }
table.limit { margin: 5px; }
table.limit th { font-weight: bold; text-align: center; }
table.limit td { border: 1px solid #AAA; }
table.limit th, td { padding: 5px; }
table.limit th:first-child { text-align: right; }

#answer_area input[type=text] { width: 80px; }
#readonly { display: none; }

.radical .surd { font: 150% Arial; padding: 0 0 0 5px; }
.radical .overline { border-top: 1px solid #000; padding: 6px 1px 0 3px; margin-left: -1px; }

body.debug .graphie { outline: 1px dashed red; }
.graphie svg { position: absolute; top: 0; left: 0; }

#scratchpad { padding-left: 30px; overflow: hidden; display: none; }
#scratchpad div { position: absolute; z-index: 1; min-height: 378px; width: 100%; height: 98%; outline: 1px solid #ccc; }

#tester-info.info-box { background: #f2e4bf; }
#tester-info .box { border: 1px solid black; padding: 2px 4px; margin-left: 5px; }

.summary { display: none; }
#browserwarning { display: none; padding: 18px; font-size: 120%; text-align: center; }

#answer_area input.button:disabled { opacity: 0.7; cursor: default; color: #333; }

#issue .error { font-style: italic; font-weight: bold; }
#issue-link { font-style: italic; }
#issue form label { display: block; }
#issue form input[type=text] { display: block; width: 98%; }
#issue form textarea { display: block; width: 98%; height: 100px; }
#issue-cancel { position: relative; bottom: 1px; }

var, div.graphie { white-space: pre; }
