.exercise, .vars, #next, #congrats, #oops { display: none; }
p.question { font-weight: bold; }
var { font-style: normal; }
.hint_blue { color: blue; }
.hint_orange { color: orange; }
.hint_red { color: red; }
.hint_green { color: green; }
.hint_gray { color: gray; }
.hint_purple{ color: purple; }
#congrats { color: green; }
#oops { color: red; }
#workarea { margin-left: 30px; }
#hintsarea { margin-left: 50px; }
#answer_area ul { list-style: none; margin: 8px; padding: 0; }
#answer_area li { margin: 14px 0; }
#answer_area li span.value { padding-left: 5px; }
#problemarea { font-size: 14px; width: 63%; min-height: 378px; position: relative; float: left; padding-bottom: 38px; }

#solution { font-size: 14px; }
#solution label { display: block; white-space: nowrap; }

#tester-info { border: 1px solid #AAA; background: #F0F0F0; padding: 10px; margin: 10px 0; }
#debug var { font: 14px Menlo, Courier, monospace; word-wrap: break-word; }

code { font-family: Helvetica, Arial; }
table.limit { margin: 5px; }
table.limit th { font-weight: bold; text-align: center; }
table.limit td { border: 1px solid #AAA; }
table.limit th, td { padding: 5px; }
table.limit th:first-child { text-align: right; }

#answer_area input[type=text] { width: 80px; }
#readonly { display: none; }

.radical { font-size: 125%; padding-left: 6px; }
.radical span { font-size: 80%; border-top: 2px solid #000; padding: 4px 1px 0 3px; }

body.debug .graphie { outline: 1px dashed red; }
.graphie svg { position: absolute; top: 0; left: 0; }

#scratchpad { position: absolute; z-index: 1; width: 100%; height: 100%; overflow: hidden; display: none; min-height: 378px; }

#tester-info.info-box { background: #f2e4bf; }
#tester-info .box { border: 1px solid black; padding: 2px 4px; margin-left: 5px; }

.summary { display: none; }
#browserwarning { display: none; padding: 18px; font-size: 120%; text-align: center; }

#answer_area input.button:disabled { opacity: 0.7; cursor: default; color: #333; }
