.exercise, .vars, #next { display: none; }
p.question { font-weight: bold; }
var { font-style: normal; }
.hint_blue { color: #6495ED; }
.hint_orange { color: #FFA500; }
.hint_red { color: red; }
.hint_green { color: #28AE7B; }
.hint_gray { color: gray; }
.hint_purple{ color: purple; }
#workarea { margin-left: 30px; }
#hintsarea { margin-left: 50px; }
#answer_area ul { list-style: none; }
#answer_area li { margin: 14px 0; }

#answer_area #check-answer-results { overflow: hidden; margin: 5px 0; }
#answer_area #check-answer-results .check-answer-message { font-size: 12px; line-height: 20px; margin: 0; }
#sad, #happy { float: left; margin: 0 6px 4px 0; }

#answer_area #examples { color: #777; margin-left: 20px; list-style-type: disc; }
#answer_area #examples li { margin: 5px 0; }

#problemarea { font-size: 14px; width: 63%; min-height: 378px; position: relative; float: left; padding-bottom: 38px; }

#solution { font-size: 14px; }
#solution label { display: block; white-space: nowrap; }

#tester-info { border: 1px solid #AAA; background: #F0F0F0; padding: 10px; margin: 10px 0; }
#debug var { font: 14px Menlo, Courier, monospace; word-wrap: break-word; }

code { font-family: Helvetica, Arial; }
table.limit { margin: 5px; }
table.limit th { font-weight: bold; text-align: center; }
table.limit td { border: 1px solid #AAA; }
table.limit th, td { padding: 5px; }
table.limit th:first-child { text-align: right; }

#answer_area input[type=text] { width: 80px; }
#readonly { display: none; }

.radical .surd { font: 150% Arial; padding: 0 0 0 5px; }
.radical .overline { border-top: 1px solid #000; padding: 6px 1px 0 3px; margin-left: -1px; }

body.debug .graphie { outline: 1px dashed red; }
.graphie svg { position: absolute; top: 0; left: 0; }

#scratchpad { padding-left: 30px; overflow: hidden; display: none; }
#scratchpad div { position: absolute; z-index: 1; min-height: 378px; width: 100%; height: 98%; outline: 1px solid #ccc; }
#scratchpad-not-available { display: none; }

#tester-info.info-box { background: #f2e4bf; }
#tester-info .box { border: 1px solid black; padding: 2px 4px; margin-left: 5px; }

.summary { display: none; }
#browserwarning { background: white; margin: 0 1px; padding: 18px; font-size: 120%; text-align: center; }

#answer_area input.simple-button[disabled=disabled] { opacity: 0.5; filter: alpha(opacity = 50); cursor: default; }
#answer_area input.simple-button[disabled=disabled]:hover { color: #fff !important; }
#answer_area input.simple-button.orange[disabled=disabled]:hover { border-color: #bf4f04 !important; border-bottom-color: #803503 !important; }
#answer_area input.simple-button.green[disabled=disabled]:hover { border-color: #76a005 !important; border-bottom-color: #557303 !important; }

.simple-button.disabled { opacity: 0.5; filter: alpha(opacity = 50); cursor: default; }

#hint-remainder { color: #777; }

#footer .simple-button, .info-box .simple-button { padding: 3px 10px; top: -1px }
.info-box .simple-button { top:  3px; );

}

#issue .error { font-style: italic; font-weight: bold; }
#issue-link { font-style: italic; }
#issue form label { display: block; }
#issue form input[type=text] { display: block; width: 98%; }
#issue form textarea { display: block; width: 98%; height: 100px; }
#issue-cancel { position: relative; bottom: 1px; }

var, div.graphie { white-space: pre; }

#throbber { position: relative; top: 4px; left: 4px; }
#issue-throbber { position: relative; top: 3px; }

.exp input { vertical-align: super; font-size: 9px; height: 11px; }

.correct-activity {
  background-color: #69bb00;
  text-shadow: 0 -1px 0 #557303;
}

.incorrect-activity {
  background-color: #e12c2d;
  text-shadow: 0 -1px 0 #921118;
}

.hint-activity {
  background-color: #f19726;
  text-shadow: 0 -1px 0 #B55C00;
}

.user-activity {
  margin: 5px;
  padding: 2px 5px;
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  cursor: pointer;
  /*height: 25px;*/
  color: white;
}

.user-activity input {
  cursor: pointer;
}

div.timeline-time {
  float: left;
  padding-top: 10px;
}

div.timeline-time:before {
  padding: 3px;
  content: "~";
}

div.timeline-time:after {
  padding: 3px;
  content: "~";
}

div.timeline-total {
  border-top: 1px solid #999;
}

#timelinecontainer {
  border: 1px solid #c6d1ad;
  border-top: 0px;
  position: relative;
}

#timelinecontainer:before, #timelinecontainer:after {
  content: "";
  display: table;
}

#timelinecontainer:after {
  clear: both;
}

#timelinecontainer {
  zoom: 1;
}

#timeline {
  overflow: hidden;
  position: absolute;
  left: 265px;
  right: 225px;
  border-left: 1px solid #c6d1ad;
  border-right: 1px solid #c6d1ad;
}

#timeline-events {
  width: 10000px;
}

#timeline-events:first-child {
  margin-left: 5px;
}

#timeline-events:last-child {
  margin-right: 5px;
}

#timeline-events:last-child:after {
	content: "";
	height: 1px;
	display: block;
}

#timeline p {
  margin: 0;
}

#previous-problem {
  margin: 5px;
  cursor: pointer;
  float: left;
  width: 100px;
}

#previous-step {
  margin: 5px;
  cursor: pointer;
  float: left;
  width: 100px;
}

#next-step {
  margin: 5px;
  cursor: pointer;
  float: right;
  width: 80px;
}

#previous-step span {
  background: url(/images/previous-step.png) no-repeat 0 50% transparent;
  padding: 4px 0 4px 25px;
}

#next-step span {
  background: url(/images/next-step.png) no-repeat 100% 50% transparent;
  padding: 4px 25px 4px 0;
}

#next-problem {
  margin: 5px;
  cursor: pointer;
  float: right;
  width: 80px;
}

.user-activity.activated {
  border: 2px solid #888;
}

.lite header, .lite footer, .lite #extras, .lite .exercise-badge, .lite .hint-box, .lite .related-video-box {
	display: none !important;
}

.lite #page-container, .lite #container {
	min-width: 0;
	border-width: 0;
}

.lite #streak-bar-container {
	position: absolute;
	top: 10px;
	left: 15px;
}

.lite #answercontent {
	position: absolute;
	right: 5px;
	top: 12px;
	padding: 0px;
	border: none;
	-webkit-box-shadow: none;
	overflow: visible;
}

.lite #answercontent > * {
	float: left;
	margin-right: 10px;
}

/* TODO: Find a better way to display these. */
.lite #throbber, .lite #check-answer-results {
	display: none !important;
}

.lite #answercontent .info-box-header {
	font-size: 16px;
}

.lite #answercontent input.button {
	margin-top: 2px;
}

.lite #answercontent #examples-show, .lite #answercontent #examples {
	display: none !important;
}

.lite .ui-icon {
	width: 18px;
	height: 18px;
}

.lite h1 {
	font-family: inherit;
}

.lite #solutionarea input {
	font-size: 14px;
}

.lite #answercontent .simple-button {
	margin-top: -5px;
	color: #fff !important;
	font-size: 14px;
	text-shadow: none;
}

#warning-bar {
    background: red;
    width: 100%;
    height: 35px;
    text-align: center;
    color: #eee;
    font-size: 15px;
	display: none;
}

#warning-bar span {
	position: relative;
	top: 5px;
}

#warning-bar-close {
	top: 5px;
	float: right;
	right: 20px;
	position: relative;
}

#warning-bar a {
    color: #eee;
}

#warning-bar-content a {
	color: #eee;
	text-decoration: underline;
}

#timelinecontainer .simple-button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.thumbnail a {
  outline: none;
  color: #fff;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail div.thumb {
  background-size: 200px 150px;
  background-position: no-repeat top left;
  background-position: 0px -25px;
  background-position-y: -80px\9;
  background-position-x: -100px\9;
  width: 200px;
  height: 100px;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-left: 14px; /* to line up with other titles */
  margin-bottom: 8px;
  margin-top: 4px;
}

.thumbnail div.thumbnail_label {
  padding: 5px 10px;
  max-width: 180px;
  margin: 0;
  text-align: left;
  margin-top: 68px;
  background: #333;
  background-color: rgba(30, 30, 30, 0.9);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail div.thumbnail_desc {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail div.thumbnail_teaser {
  height: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-decoration: none;
  font-size: 11px;
}
